body {
    background-color: #c8d9ea;
    font-family: sans-serif;
}

.outer-layer{
  width: 50%;
  background-color: white;
  margin: 50% auto 50% auto;
  border: none;
  border-radius: 30px;
}

.inner-layer1{
  padding: 20px 20px 0px 20px;
}

.inner-layer1 img{
  display: block;
  width: 100%;
  border: none;
  border-radius: 20px;
}

.inner-layer2{
 text-align: center;
 padding: 25px;
 font-size: 20px;
}


/**.inner-layer2 h1{
  text-align: center;
  margin-top: 30px;
  width: 400px;
}

.inner-layer2 p{
  text-align: center;
  padding: 0px 20px 0px 20px;
}**/